* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  background-image: url(./8247.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  height: 55%;
  width: 30%;
  background-color: aliceblue;
  padding: 1rem;
  border-radius: 10px;
  background: transparent;
  border: 1px solid whitesmoke;
  backdrop-filter: blur(10px);
  color: white;
  color: white;
  text-shadow: 1px 1px 2px #00000066;
}

.login {
  text-align: center;
  font-weight: 800;
  margin: 0.5rem;
  font-size: 2.3rem;
}

.userpass {
  margin: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userpass input {
  width: 25rem;
  height: 1.5rem;
  border-radius: 16px;
  border: 1px solid whitesmoke;
  background-color: transparent;
}

.user-icon{
  font-size: 0.8rem;
  position: absolute;
  right: 50px;
}

.userpass ::placeholder{
    color: whitesmoke;
    padding-left: 0.5rem;
}

.remember-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.remember-forgot {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.8rem;
}

.login-btn {
  margin: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-btn button {
  border-radius: 20px;
  width: 25rem;
  height: 1.8rem;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: white;
}
