.page {
  height: 100vh;
  border: 2px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  height: 15rem;
  margin-left: 1.3rem;
}

.btn {
  margin-top: 2rem;
  margin-left: 1rem;
}

.btn5 {
  width: 20rem;
}
